/* Main setup start */
    body {
        max-width: 1200px;
        margin: 0 auto; 
    }

    :root {
        /* Colors */
        --primary-color: #E30613;
        --secundary-color: #E8F1F8;
        --black-color: #1D1D1B;
        --grey-color: #dadada;
        --white-color: #ffffff; 

        /* Cornor radius */
        --cornor-radius: 12px;

        /* Spacing */
        --spacing-small: 24px;
        --spacing-medium: 32px;
        --spacing-large: 40px;

        /* Font sizes */
        --font-size-small: 18px;
        --font-size-medium: 24px;
        --font-size-large: 36px;
    }

    .primary-button {
        background-color: var(--primary-color);
        color: var(--white-color);
        padding: var(--spacing-small);
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        border-radius: var(--cornor-radius);
    }

    .primary-button:hover {
        background-color: #96171A;
    }

    .secundary-button {
        background-color: var(--white-color);
        color: var(--primary-color);
        border: solid 2px var(--primary-color);
        padding: var(--spacing-small);
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        border-radius: var(--cornor-radius);
    }

    .secundary-button:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }

    /* Main setup end */
 

    /* Header start */
    header {
        margin: var(--spacing-small) var(--spacing-small) 0 var(--spacing-small)
        }

    .header__logo {
        float: left;
        width: 30%;
        min-width: 150px;
        max-width: 250px;
    }
    /* Header end */

    /* Navigation start */
    nav {
        background-color: var(--primary-color);
        display: flex;
        flex-direction: row;
        width: 100%;
        bottom: 0;
        position: fixed;
        padding-top: 10px;
        justify-content: space-evenly;
    }

    .nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .nav__icon {
        color: var(--white-color);
        font-size: var(--font-size-medium);
    }

    .nav__title {
        color: var(--white-color);
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: var(--font-size-small);
    }
    /* Navigation end */